.App,
#root {
  text-align: center;
  background-color: black;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  color: white;
}

/***      Header        **/
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

/****           Carousel          ***/


/***          Featured images         ******/
.features {
  box-sizing: border-box;
  padding: 0px;
  border: medium;
  margin: auto;
  display: block;
  height: 295.15px;
  line-height: 24px;
}

.features-container {
  background-color: black;
  color: white;
  padding: 50px;
  text-align: left;
}

/***          Content Section         ******/
.content img {
  display: block;
  width: 100%;
}

/****         Movie Listing         *****/

.movie-list-item {
  border: medium;
  display: block;
  height: 295.15px;
}

.movie-list-item img {
  display: block;
  height: 295.15px;
}

.movie-big-poster {
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.movie-big-poster-container {
  width: 100%;
  height: 500px;
}
